.gform_wrapper {
    .button.form-btn {
        background: rgba(41, 72, 89, 0.5) !important;
        padding: 1rem;
        border: none !important;
        color: #fff !important;
        border-radius: 7px;
        font-family: 'AvenirReg', sans-serif;
        display: inline-block;
        text-transform: uppercase;
        line-height: 1;

        @include xl {
            font-size: 1.3vw;
            padding: 1% 3%;
        }
    }
}

.gform_fields .gfield input::-webkit-input-placeholder {
  color: #000;
}

.gfield input {
    color: #000;
    background: transparent;
    border: none;
    border-bottom: 1px solid #7E7E7E;

    @include xl {
        width: 65%;
    }

    &.hasDatepicker {
        margin: 0 auto;
    }

    &:focus {
        border-bottom: 1px solid #7E7E7E;
        outline: none;
        color: #000;
    }
}

div#gform_wrapper_7 {
 

    @include xl {
        text-align: center;
        width: 60%;
    margin: 0 auto;
    }

    
}


#gform_submit_button_8 {
    background-color: #ffd200!important;
    padding: 2% 5%;
    color: black!important;
    margin-bottom: 0;
}

#gform_8 {
    .gform_footer {
        padding-bottom: 0px;
    }
}

#gform_7 {
    .gform_footer {
    
        padding: 0.7% 3%;
        line-height: 1.5;
        margin-top: 5%;
        

        @include xl {
            font-size: 1vw;
        }
        
        input {
            background: rgba(41, 72, 89, 0.5) !important;
            padding: 0.5rem 1rem;
            border: none !important;
            margin: 0;
            color: #fff !important;
            border-radius: 7px;
            font-family: 'AvenirReg', sans-serif;
            text-transform: uppercase;
            display: inline-block;
          

            @include xl {
                font-size: 1vw;
            }
        }
    }
}