$color-brand: #aeffe7;
$lt-green: #AAC3C7;
$md-green: #73A2A7;
$drk-green: #3D6D6F;
$drker-green: #294859;
$yellow: #2C2E3A;
$drk-gray: #2C2E3A;
$gray: #D4DCE0;
$black: #000;
$white: #fff;
$yellow: #dccfa8;
$pink: rgba(206, 111, 81, 0.5);
$green: #698c8f;
$blue: #59717e;
$ltgreen : #9dc9c4;

$bluetp: rgba(89, 113, 126, 0.8);
$yellowtp: rgba(220, 207, 168, 0.8);


$light-gray: #f5f5f5;
$dark-gray: #a5a5a5;
$bluetx : rgba(214,219,223, 0.85);

$gutter-vertical: 8vh;
$gutter-horizontal: 1.5vw;

$header-height: 100px;

// Z-index
$header-z: 9999;
$above-menu-z: 9500;
$menu-z: 9000;
$below-menu-z: 8500;
